<ul class='nav nav-pills nav-justified'>
<!-- href='#idName' scrolls to the div with the id idName -->
<li><a href='/#'>Home</a></li>
<li><a href='tasks'>Tasks</a></li>
<li><a href='/#facebookPhoto'>Facebook</a></li>
<li><a href='/#camera'>Camera</a></li>
<li><a href='/#googleMaps'>Google Maps</a></li>
</ul>